.button{
    background-color: black;
    color: white;
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    gap: 2px;
}
.button button{
    font-size: 1.5em;
    padding: 20px;
    border: 1px solid black;
    background-color: grey;
    color: white;
    cursor: pointer; 
                    }
 
.button .hasil{
    background-color: orange;
}


                    

#display{
    width: 100%;
    padding: 20px;
    font-size: 2em;
    text-align: right;
    border: 5px solid black;
}
#buttom {
    max-width: 400px;
    margin: 0 auto; /* Biar kalkulatornya ada di tengah layar */
    background-color: black;
    border-radius: 20px;
}